body {
  background-color: black;
  background-image: url(../space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 60px;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
}

.navbar a.active {
  background-color: rgb(6, 6, 167);
  color: yellow;
}

.navbar a:hover {
  background-color: #454545;
  color: white;
  text-transform: uppercase;
  cursor: crosshair;
}

/* List CSS */


/* Project CSS */
.project {
  display: flex;
  padding: 20px;
  margin-top: 50px;
  max-width: 100%;
}

/* Title CSS */
.title {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 25%;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  overflow-wrap: normal;
}

/* Description CSS */
.description {
  float: left;
  width: 75%;
  padding-left: 20px;
  color: white;
}

li.list_ {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  padding-top: 10px;
}

li.inner_list_ {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  padding-top: 10px;
}