body {
  background-color: black;
  background-image: url(space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 60px;
  overflow: auto;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
}

.navbar a.active {
  background-color: rgb(6, 6, 167);
  color: yellow;
}

.navbar a:hover {
  background-color: #454545;
  color: white;
  text-transform: uppercase;
  cursor: crosshair;
}

.mainpic img {
  width: 100%;
  height: auto;
}

/* Styles for screens larger than 1024px */
@media (min-width: 851x) {
  /* Your CSS rules here */





}

/* Styles for screens smaller than 600px */
@media (max-width: 850px) {
  /* Your CSS rules here */






}